<div ng-controller="groupEventController as vm">
        <div ng-if="vm.messageOK_E" class="alert alert-success alert-dismissable fade in">
            <i class="icon icon-check-circle icon-lg"></i>
            <strong>Succès !</strong> {{vm.messageOK}}
            <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
        </div>
        <ul class="list-group" ng-if="vm.events.length">
            <li class="list-group-item" ng-repeat="event in vm.events" >
                <div class="media" >
                    <div class="media-left">
                        <a><img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{event.photoURL}}"></a>
                    </div>
                    <div class="media-body" >
                        <div class="row">
                            <h4 class="text-uppercase col-md-5" >{{event.nom}}</h4>
                            <div class="col-md-5">
                                <p> Début : {{event.dateDebut}}</p>
                                <p> Fin : {{event.dateFin}}</p>
                            </div>
                            <h5 style="float:right" ng-if="!event.prix" class="text-uppercase col-md-5" ><strong>GRATUIT</strong></h5>
                            <h5 style="float:right" ng-if="event.prix" class="text-uppercase col-md-5" ><strong>{{event.prix}} €</strong></h5>
                        </div>
                        <div ng-if="event.show">
                            <hr >
                            <blockquote>
                                <p>{{event.description}}</p>
                                <p ng-if="event.obj">Ne pas oublier d'apporter : {{event.obj}}</p>
                                <p ng-if="event.theme">Le thème de la soirée sera : {{event.theme}}</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="media-right" ng-if="vm.user.uid == event.createur" ng-click="vm.removeEvent(event)" style="vertical-align: middle;">
                        <a href="" class="doigt-right" ><span class="icon icon-trash-o icon-2x" aria-hidden="true"></span></a>
                    </div>
                    <div class="media-bottom" ng-if="!event.participants[vm.user.uid] || event.edit" style="margin-top: 10px;">
                        Participeras-tu à cet évènement ?
                        <button ng-click="vm.participe(event, true)">OUI</button>
                        <button ng-click="vm.participe(event, false)">NON</button>
                    </div>
                    <div class="media-bottom" ng-if="event.participants[vm.user.uid]" style="margin-top: 10px;">
                        Tu participeras à cet évènement ! <a href="" ng-click="vm.edit_participation(event)" ><span class="icon icon-edit icon-lg"></span></a>
                    </div>
                    <div class="media-bottom" style="text-align: center;" >
                        <a ng-if="!event.show" ng-click="vm.showEvent(event)" href="" class="doigt-right" ><span class="icon icon-chevron-down icon-lg" aria-hidden="true"></span></a>
                        <a ng-if="event.show" ng-click="vm.showEvent(event)" href="" class="doigt-right" ><span class="icon icon-chevron-up icon-lg" aria-hidden="true"></span></a>
                    </div>
                </div>
            </li>
        </ul>
        <p ng-if="!vm.events.length">Aucun évènements !</p>
    <button type="button" ng-click="vm.open()" class="btn btn-primary btn-lg btn-block">Créer un évènement</button>
</div>