<div ng-controller="groupEventController as vm">

        <ul class="list-group panel-list-right" ng-show="vm.hasEvent">
            <div ng-if="vm.messageOK_E" class="alert alert-success alert-dismissable fade in">
                <i class="icon icon-check-circle icon-lg"></i>
                <strong>Succès !</strong> {{vm.messageOK_E}}
                <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
            </div>
            <li class="list-group-item" ng-repeat="event in vm.events" >
                <div class="media" >
                    <div class="media-left" style="vertical-align: middle;">
                        <a><img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{event.photoURL}}"></a>
                    </div>
                    <div class="media-body" >
                        <h3 class="text-uppercase col-md-8" style="margin-top: 15px;"><strong>{{event.nom}}</strong></h3>
                        <div class="col-md-8">
                            <p> Début <span>{{event.dateDebut | date:"dd/MM/yyyy 'à' hh:mm a"}}</span></p>
                            <p> Fin <span>{{event.dateFin | date:"dd/MM/yyyy 'à' hh:mm a"}}</span></p>
                        </div>
                        <div class="col-md-8 option-admin" ng-if="vm.user.uid == event.createur"  style="vertical-align: middle;">
                            <a class="doigt-right" ><span class="icon icon-trash-o icon-2x" ng-click="vm.removeEvent(event)" aria-hidden="true"></span></a>
                            <a class="doigt-right" ><span class="icon icon-bell-o icon-2x" ng-click="vm.rappel(event)" aria-hidden="true"></span></a>
                            <a class="doigt-right" ><span class="icon icon-edit icon-2x" ng-click="vm.modifEvent(event)" aria-hidden="true"></span></a>
                        </div>
                        <div class="col-md-24" ng-if="event.show" >
                            <div class="col-md-12">
                                <h4><u>Description</u></h4>
                                <p>{{event.description}}</p>
                                <br>
                                <p ng-if="event.obj">Ne pas oublier d'apporter </p>
                                <ul ng-if="event.obj">
                                    <li ng-repeat="o in event.obj">{{o}}</li>
                                </ul>
                                <p ng-if="event.theme">Le thème de l'évènement sera {{event.theme}}</p>
                            </div>
                            <div class="col-md-12">
                                <h4><u>Participants</u></h4>
                                <ul class="list-group">
                                    <li ng-repeat="u in event.participantsValues" class="col-md-12 list-group-item">
                                        <div class="media">
                                        <div class="media-left">
                                            <a><img class="media-object img-circle" style="width: 32px; height: 32px;" ng-src="{{u.photoURL}}"></a>
                                        </div>
                                        <div class="media-body">
                                            {{u.displayName}}
                                        </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-24">
                                <h5 ng-if="!event.prix" class="text-uppercase" ><strong>GRATUIT</strong></h5>
                                <h5 ng-if="event.prix" class="text-uppercase" ><strong>{{event.prix}} €</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!event.edit">
                        <div class="media-bottom" ng-if="!event.participants[vm.user.uid]" style="margin-bottom: 10px;margin-top: 5px;">
                            <label class="label-participe-pas col-md-12">NE PARTICIPE PAS</label>
                            <div class="label-modifier col-md-12" ng-click="vm.edit_participation(event)">
                                <span><i class="icon icon-edit icon-2x"></i></span>
                            </div>
                        </div>
                        <div class="media-bottom" ng-if="event.participants[vm.user.uid]" style="margin-bottom: 10px;margin-top: 5px;">
                            <label class="label-participe col-md-12">PARTICIPE</label>
                            <div class="label-modifier col-md-12"  ng-click="vm.edit_participation(event)">
                                <span ><i  class="icon icon-edit icon-2x"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="media-bottom" ng-if="event.edit" style="margin-bottom: 10px;margin-top: 5px;">
                        <label style="padding:5px" class="label-modifier col-md-12" ng-click="vm.participe(event, true)">PARTICIPE</label>
                        <label style="padding:5px" class="label-modifier col-md-12" ng-click="vm.participe(event, false)">NE PARTICIPE PAS</label>
                    </div>
                    <div class="media-bottom fleche" style="text-align: center;" >
                        <a ng-if="!event.show" ng-click="vm.showEvent(event)" class="doigt-right" ><span class="icon icon-chevron-down icon-lg" aria-hidden="true"></span></a>
                        <a ng-if="event.show" ng-click="vm.showEvent(event)" class="doigt-right" ><span class="icon icon-chevron-up icon-lg" aria-hidden="true"></span></a>
                    </div>
                </div>
            </li>
        </ul>
        <p ng-if="!vm.hasEvent && !vm.hasNoEvent" style="text-align: center">
            <img class="logo-loading" src="../../style/gilogocenter.png"/>
        </p>
        <p ng-show="vm.hasNoEvent" style="text-align: center">
            Il n'y a aucun évènement dans ce groupe !
        </p>
    <button type="button" ng-click="vm.open()" class="btn btn-lg btn-right">Créer un évènement</button>
</div>