.fixedbutton-left {
    bottom: 0;
    height: 60px;
    left: 0;
    position: fixed;
    width: 25%;
}

.fixedbutton-left:hover {
    background: #EACF6A;
    background-color: #EACF6A;
    border-color: #EACF6A;
}
.doigt-right{
    cursor: pointer;
    color: #115471
}
.doigt-right:hover {
    color : #EACF6A;
}

