
.log{
  cursor: pointer;
}

.log:hover{
    text-decoration: none;
}

.email{
    margin-top:135px;
}


.login {
    background: white none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    height: 390px;
    left: 50%;
    margin: -193px 0 0 -197px;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 390px;
}
#logo
{
    border-radius: 50%;
    color: white;
    height: 1100px;
    left: 50%;
    margin: -548px 0 0 -552px;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 1100px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



body {
    background: white;
}