<div ng-controller="groupPhotoController as vm">
        <div ng-if="vm.messageOK_P" class="alert alert-success alert-dismissable fade in">
            <i class="icon icon-check-circle icon-lg"></i>
            <strong>Succès !</strong> {{vm.messageOK_P}}
            <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
        </div>
        <div ng-if="vm.messageKO_P" class="alert alert-danger alert-dismissable fade in">
            <i class="icon icon-times-circle icon-lg"></i>
            <strong>Erreur !</strong> {{vm.messageKO_P}}
            <button ng-click="vm.dismiss()" type='button' class='close'>×</button>
        </div>
        <div ng-if="vm.photos.length" >
            <a class="thumbnail" href="{{photo}}" ng-repeat="photo in vm.photos">
                <img ng-src="{{photo}}" style="width:15%"alt="">
            </a>
        </div>
        <p ng-if="!vm.photos.length"> Aucunes photos dans ce groupe ! </p>

        <input  ng-model="vm.img" class="form-control" placeholder="URL de la photo">
        <button type="button" ng-click="vm.ajouterPhoto()" class="btn btn-primary btn-lg btn-block">Ajouter une photo</button>
</div>