<div ng-controller="groupVotesController as vm" >

    <ul class="list-group panel-list-right" ng-if="vm.hasVote">
        <div ng-if="vm.messageOK_V" class="alert alert-success alert-dismissable fade in">
            <i class="icon icon-check-circle icon-lg"></i>
            <strong>Succès !</strong> {{vm.messageOK_V}}
            <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
        </div>
        <div ng-if="vm.messageKO_V" class="alert alert-danger alert-dismissable fade in">
            <i class="icon icon-check-circle icon-lg"></i>
            <strong>Erreur !</strong> {{vm.messageOK_V}}
            <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
        </div>
        <li ng-repeat="vote in vm.votes" class="list-group-item ">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading text-capitalize" style="height: 20px;"><strong>{{vote.question}}</strong></h4>
                    <div ng-if="!vote.hasalreadyvote">
                        <div ng-repeat="c in vote.choix">
                            <div ng-if="!vote.QCM" class="radio">
                                <label>
                                    <input type="radio" name="mychoice"m ng-model="c.reponse" ng-value=true>  {{c.choix}}
                                </label>
                            </div>
                            <div ng-if="vote.QCM" class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="c.reponse" value="{{c.choix}}"> {{c.choix}}
                                </label>
                            </div>
                        </div>
                        <label class="btn-valider" ng-click="vm.aVote(vote)"> VALIDER </label>
                    </div>
                    <div ng-if="vote.hasalreadyvote" style="text-align: center">
                        <div ng-repeat="c in vote.choix">
                           <strong>{{c.choix}}</strong>
                            <div class="progress">
                                <div ng-if="c.pourcentage > 75" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{c.pourcentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{c.pourcentage}}%;">
                                    {{c.pourcentage}} %
                                </div>
                                <div ng-if="c.pourcentage < 75 && c.pourcentage > 25" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{c.pourcentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{c.pourcentage}}%;">
                                    {{c.pourcentage}} %
                                </div>
                                <div ng-if="c.pourcentage < 25" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{c.pourcentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{c.pourcentage}}%;">
                                    {{c.pourcentage}} %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-right" ng-if="vm.user.uid == vote.createur" ng-click="vm.removeVote(vote)" style="vertical-align: middle;">
                    <a href="" class="doigt-right" ><span class="icon icon-trash-o icon-2x" aria-hidden="true"></span></a>
                </div>
            </div>
        </li>
    </ul>
    <p ng-if="!vm.hasVote && !vm.hasNoVote" style="text-align: center">
        <img class="logo-loading" src="../../style/gilogocenter.png"/>
    </p>
    <p ng-if="vm.hasNoVote" style="text-align: center">
        Il n'y a aucun vote dans ce groupe !
    </p>
    <button type="button" ng-click="vm.openCreateVote()" class="btn btn-lg btn-right">Créer un vote</button>
</div>