<div ng-controller="groupVotesController as vm" >
    <div ng-if="vm.messageOK_V" class="alert alert-success alert-dismissable fade in">
        <i class="icon icon-check-circle icon-lg"></i>
        <strong>Succès !</strong> {{vm.messageOK_V}}
        <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
    </div>
    <ul class="list-group" ng-if="vm.votes.length">
        <li ng-repeat="vote in vm.votes" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{vote.question}}</h4>
                    <div ng-if="!vote.hasalreadyvote">
                        <div ng-repeat="c in vote.choix">
                            <input type="radio" ng-model="vm.reponse" value="{{c.choix}}">  {{c.choix}}
                        </div>
                        <button ng-click="vm.aVote(vote.id)"> Valider </button>
                    </div>
                    <div ng-if="vote.hasalreadyvote">
                        <div ng-repeat="c in vote.choix">
                           {{c.choix}} : {{c.pourcentage}} %
                        </div>
                    </div>
                </div>
                <div class="media-right" ng-if="vm.user.uid == vote.createur" ng-click="vm.removeVote(vote)" style="vertical-align: middle;">
                    <a href="" class="doigt-right" ><span class="icon icon-trash-o icon-2x" aria-hidden="true"></span></a>
                </div>
            </div>
        </li>
    </ul>
    <p ng-if="!vm.votes.length"> Il n'y a aucuns votes dans ce groupe !</p>
    <button type="button" ng-click="vm.openCreateVote()" class="btn btn-primary btn-lg btn-block">Créer un vote</button>
</div>