<div ng-controller="groupVotesController as vm" >
    <div ng-if="vm.messageOK_V" class="alert alert-success alert-dismissable fade in">
        <i class="icon icon-check-circle icon-lg"></i>
        <strong>Succès !</strong> {{vm.messageOK_V}}
        <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
    </div>
    <ul class="list-group" ng-if="vm.hasVote">
        <li ng-repeat="vote in vm.votes" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{vote.question}}</h4>
                    <div ng-if="!vote.hasalreadyvote">
                        <div ng-repeat="c in vote.choix">
                            <div ng-if="!vote.QCM" class="radio">
                                <label>
                                    <input type="radio" ng-model="c.reponse" ng-value=true>  {{c.choix}}
                                </label>
                            </div>
                            <div ng-if="vote.QCM" class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="c.reponse" value="{{c.choix}}"> {{c.choix}}
                                </label>
                            </div>
                        </div>
                        <button ng-click="vm.aVote(vote)"> Valider </button>
                    </div>
                    <div ng-if="vote.hasalreadyvote">
                        <div ng-repeat="c in vote.choix">
                           {{c.choix}}
                            <div class="progress">
                                <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="{{c.pourcentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{c.pourcentage}}%;">
                                    {{c.pourcentage}} %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-right" ng-if="vm.user.uid == vote.createur" ng-click="vm.removeVote(vote)" style="vertical-align: middle;">
                    <a href="" class="doigt-right" ><span class="icon icon-trash-o icon-2x" aria-hidden="true"></span></a>
                </div>
            </div>
        </li>
    </ul>
    <p ng-if="!vm.hasVote && !vm.hasNoVote" style="text-align: center">
        <img class="logo-loading" src="../../style/gilogocenter.png"/>
    </p>
    <p ng-if="vm.hasNoVote" style="text-align: center">
        Il n'y a aucun vote dans ce groupe !
    </p>
    <button type="button" ng-click="vm.openCreateVote()" class="btn btn-primary btn-lg btn-block">Créer un vote</button>
</div>