<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Ajout d'amis</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" ng-model="search" placeholder="Recherche">
        </div>
        <div ng-if="!vm.users" style="margin-top: 10px;"> Aucun Résultat </div>
        <div ng-if="vm.users"  style="margin-top: 10px;" ng-repeat="user in vm.users | filter:search " >
            <div class="media" >
                <div class="media-left">
                    <a ng-if="user.photoURL"> <img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{user.photoURL}}" /></a>
                    <a ng-if="!user.photoURL"><img class="media-object img-circle" style="width: 64px; height: 64px;" src="http://placehold.it/64x64&text=img-circle" /></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" ng-if="user.displayName">{{user.displayName}}</h4>
                    <h4 class="media-heading" ng-if="!user.displayName">{{user.email}}</h4>

                </div>
                <div class="media-right" ng-if="user.isSelected" ng-click="vm.selectionAmis(user)" style="vertical-align: middle;">
                    <a href="" class="doigt-right"><span class="icon icon-check-square-o icon-2x" aria-hidden="true"></span></a>
                </div>
                <div class="media-right" ng-if="!user.isSelected" ng-click="vm.selectionAmis(user)" style="vertical-align: middle;">
                    <a href="" class="doigt-right"²><span class="icon icon-square-o icon-2x" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="vm.ajouter()" >Ajouter</button>
        <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Annuler</button>
    </div>
</div>