<link href="../../node_modules/angular-moment-picker/dist/angular-moment-picker.css" rel="stylesheet">

<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Modification d'event</h3>
    </div>
    <div class="modal-body" id="modal-body">
            <div ng-if="vm.messageKO" class="alert alert-danger alert-dismissable fade in">
                <i class="icon icon-times-circle icon-lg"></i>
                <strong>Erreur !</strong> {{vm.messageKO}}
                <button ng-click="vm.dismiss()" type='button' class='close'>×</button>
            </div>
            <div ng-if="!vm.event.photoURL" class="form-group" style="text-align: center">
                <img src="http://placehold.it/150x150&text=img-circle" alt="" class="img-circle" style="text-align: center">
            </div>
            <div ng-if="vm.event.photoURL" class="form-group" style="text-align: center">
                <img ng-src="{{vm.event.photoURL}}" alt="" class="img-circle" style="text-align: center; width: 150px; height: 150px">
            </div>
            <div class="form-group">
                <label for="NomEvent">Nom de l'event</label>
                <input type="text" ng-model="vm.event.nom" class="form-control" id="NomEvent" placeholder="Nom de l'évènement">
            </div>
            <div class="form-group">
                <label for="DescriptionEvent">Description</label>
                <textarea id="DescriptionEvent"  ng-model="vm.event.description" class="form-control" placeholder="Description de l'event" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="URLPhotoEvent">URL de la photo</label>
                <input type="text" ng-model="vm.event.photoURL" class="form-control" id="URLPhotoEvent" placeholder="URL de la photo de l'évènement">
            </div>
            <!-- DATE -->
            <div class="form-group">
                <label for="dateDebutNew">Date de début : <span>{{vm.event.dateDebut | date:"dd/MM/yyyy 'à' HH:mm"}}</span></label>
                <input class="form-control" ng-model="vm.dateD" locale="fr" max-view="hour" format="DD/MM/YYYY HH:mm" ng-model-options="{ updateOn: 'blur'}"
                       placeholder="Selectionnez une date" moment-picker="vm.dateD" id="dateDebutNew">
            </div>
            <div class="form-group">
                <label for="dateFinNew">Date de fin :  <span>{{vm.event.dateFin | date:"dd/MM/yyyy 'à' HH:mm"}}</span></label>
                <input class="form-control" ng-model="vm.dateF" locale="fr" max-view="hour" format="DD/MM/YYYY HH:mm" ng-model-options="{ updateOn: 'blur'}"
                       placeholder="Selectionnez une date" moment-picker="vm.dateF" id="dateFinNew">
            </div>
        <div class="form-group">
            <label for="themeEvent" style="display: inline-flex;">
                <p style="cursor: pointer; margin-right: 10px;  margin-top: 2px;" ng-if="!vm.haveTheme" ng-click="vm.toggleTheme()"><i class="icon icon-toggle-off icon-lg"></i></p>
                <p style="cursor: pointer; margin-right: 10px;  margin-top: 2px;" ng-if="vm.haveTheme" ng-click="vm.toggleTheme()"><i class="icon icon-toggle-on icon-lg"></i></p>
                Thème de l'évènement
            </label>
            <input type="text" ng-show="vm.haveTheme" ng-model="vm.event.theme" class="form-control" id="themeEvent" placeholder="Ex : Carnaval">
        </div>
        <div class="form-group">
            <label for="PrixEvent" style="display: inline-flex;">
                <p style="cursor: pointer; margin-right: 10px;  margin-top: 2px;" ng-if="!vm.havePrix" ng-click="vm.togglePrix()"><i class="icon icon-toggle-off icon-lg"></i></p>
                <p style="cursor: pointer; margin-right: 10px;  margin-top: 2px;" ng-if="vm.havePrix" ng-click="vm.togglePrix()"><i class="icon icon-toggle-on icon-lg"></i></p>
                Prix de l'évènement
            </label>
            <input type="number" ng-show="vm.havePrix" ng-model="vm.event.prix" class="form-control" id="prixEvent" placeholder="Ex : 10">
        </div>
        <div class="form-group">
            <label for="ObjEvent" style="display: inline-flex;">
                <p style="cursor: pointer; margin-right: 10px;  margin-top: 2px;" ng-if="!vm.haveObj" ng-click="vm.toggleObj()"><i class="icon icon-toggle-off icon-lg"></i></p>
                <p style="cursor: pointer; margin-right: 10px;  margin-top: 2px;" ng-if="vm.haveObj" ng-click="vm.toggleObj()"><i class="icon icon-toggle-on icon-lg"></i></p>
                Choses à prendre pour l'évènement
            </label>
            <input ng-show="vm.haveObj" ng-repeat="o in vm.objsNew" type="text" ng-model="o.obj" class="form-control"
                   id="ObjEvent" placeholder="Entrez un objet à ramener" required> <br >
            <button ng-show="vm.haveObj" ng-click="vm.ajouterObj()"> Ajouter un objet </button>
            <button ng-show="vm.haveObj" ng-click="vm.supprimerObj()"> Supprimer un objet </button>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="vm.modifier()" >Modifier</button>
        <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Annuler</button>
    </div>
</div>