<link href="../../node_modules/angular-moment-picker/dist/angular-moment-picker.css" rel="stylesheet">

<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Création d'event</h3>
    </div>
    <div class="modal-body" id="modal-body">
            <div ng-if="vm.messageKO" class="alert alert-danger alert-dismissable fade in">
                <i class="icon icon-times-circle icon-lg"></i>
                <strong>Erreur !</strong> {{vm.messageKO}}
                <button ng-click="vm.dismiss()" type='button' class='close'>×</button>
            </div>
            <div ng-if="!vm.photoURL" class="form-group" style="text-align: center">
                <img src="http://placehold.it/150x150&text=img-circle" alt="" class="img-circle" style="text-align: center">
            </div>
            <div ng-if="vm.photoURL" class="form-group" style="text-align: center">
                <img ng-src="{{vm.photoURL}}" alt="" class="img-circle" style="text-align: center; width: 150px; height: 150px">
            </div>
            <div class="form-group">
                <label for="NomGroupe">Nom de l'event</label>
                <input type="text" ng-model="vm.nomE" class="form-control" id="NomGroupe" placeholder="Nom du groupe">
            </div>
            <div class="form-group">
                <label for="DescriptionGroupe">Description</label>
                <textarea id="DescriptionGroupe"  ng-model="vm.descE" class="form-control" placeholder="Description du groupe" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="URLPhotoGroupe">URL de la photo</label>
                <input type="text" ng-model="vm.photoURL" class="form-control" id="URLPhotoGroupe" placeholder="URL de la photo du groupe">
            </div>
            <!-- DATE -->
            <div class="form-group">
                <label for="dateD">Date de début</label>
                <input class="form-control" ng-model="vm.dateD" ng-model-options="{ updateOn: 'blur' }" placeholder="Select a date..." moment-picker="vm.dateD" id="dateD">
            </div>
            <div class="form-group">
                <label for="dateD">Date de fin</label>
                <input class="form-control" ng-model="vm.dateF" ng-model-options="{ updateOn: 'blur' }" placeholder="Select a date..." moment-picker="vm.dateF" id="dateF">
            </div>
            <div class="form-group">
                <label for="themeEvent">
                    <input type="checkbox" ng-model="haveTheme"> Thème de l'évènement
                </label>
                <input type="text" ng-show="haveTheme" ng-model="vm.theme" class="form-control" id="themeEvent" placeholder="Carnaval">
            </div>
            <div class="form-group">
                <label for="prixEvent">
                    <input type="checkbox" ng-model="havePrix"> Prix de l'évènement
                </label>
                <input type="text" ng-show="havePrix" ng-model="vm.prix" class="form-control" id="prixEvent" placeholder="10 €">
            </div>
            <div class="form-group">
                <label for="objEvent">
                    <input type="checkbox" ng-model="haveObj"> Objet à ramener pour l'évènement
                </label>
                <input ng-show="haveObj" ng-repeat="o in vm.objs" type="text" ng-model="o.obj" class="form-control"
                       id="objEvent" placeholder="Entrez un objet à ramener"> <br >
                <button ng-show="haveObj" ng-click="vm.ajouterObj()"> Ajouter un objet </button>
                <button ng-show="haveObj" ng-click="vm.supprimerObj()"> Supprimer un objet </button>

            </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="vm.creer()" >Créer</button>
        <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Annuler</button>
    </div>
</div>