
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Création d'une dépense</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="NomFacture">Quoi ?</label>
        <input type="text" ng-model="vm.what" class="form-control" id="NomFacture" placeholder="Ce que vous avez payé" required>
    </div>
    <div class="form-group">
        <label for="PrixFacture">Combien ?</label>
        <input type="number" ng-model="vm.prix" class="form-control" id="PrixFacture" placeholder="15" required>
    </div>
    <div class="form-group">
        <label for="Payeur">Qui ?</label>
        <select class="form-control" id="Payeur" ng-options="m as m.displayName for m in vm.membres track by m.uid" ng-model="vm.payeur"></select>
    </div>
    <div class="form-group">
        <label for="PayeurPour">Pour Qui ?</label>
        <div ng-repeat="m in vm.membres">
            <div class="media" id="PayeurPour">
                <div class="media-left">
                    <a><img class="media-object img-circle" style="width: 32px; height: 32px;" ng-src="{{m.photoURL}}"></a>
                </div>
                <div class="media-body">
                    {{m.displayName}}
                </div>
                <div class="media-right" ng-if="m.isSelected" ng-click="vm.selectionPayeurPour(m)" style="vertical-align: middle;">
                    <a href="" class="doigt-right"><span class="icon icon-check-square-o icon-2x" aria-hidden="true"></span></a>
                </div>
                <div class="media-right" ng-if="!m.isSelected" ng-click="vm.selectionPayeurPour(m)" style="vertical-align: middle;">
                    <a href="" class="doigt-right"><span class="icon icon-square-o icon-2x" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="vm.creer()" >Créer</button>
    <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Annuler</button>
</div>