<link href="../../style/profile.css" rel="stylesheet">

<div ng-controller="profileController as vm">
    <nav class="navbar navbar-danger navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex2-collapse" style="padding-bottom: 5px; padding-top: 5px;">
                <div class="nav navbar-nav">
                    <div class="media">
                        <div class="media-left">
                            <img ng-if="vm.photo" class="media-object img-circle" alt="64x64" style="width: 64px; height: 64px;" ng-src="{{vm.photo}}">
                            <img ng-if="!vm.photo" class="media-object img-circle" alt="64x64" style="width: 64px; height: 64px;" src="http://placehold.it/64x64&text=img-circle">
                        </div>
                        <div style="color:white; width: 75%;" class="media-body">
                            <h4 ng-click="vm.modifierProfile()">{{vm.name}}</h4>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right" style="margin-top: 8px;">
                    <li><a href="" ng-click="vm.openNotifications()"><span class="icon icon-asterisk icon-lg"></span></a></li>
                    <li><a ui-sref=".groups"><span class="icon icon-users icon-lg"></span></a></li>
                    <li><a ui-sref=".events"><span class="icon icon-calendar icon-lg"></span></a></li>
                    <li><a ui-sref=".amis"><span class="icon icon-user icon-lg"></span></a></li>
                    <li><a href="" class="navbar-link" ng-click="vm.logout()"><span class="icon icon-sign-out icon-lg"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="padding-top: 85px;" ui-view>
    </div>
</div>