<div ng-controller="amisController as vm" >
<div>
    <!-- RECHERCHE -->
    <div class="col-md-24">
        <div class="input-group">
            <span class="input-group-addon"><i class="icon icon-search"></i></span>
            <input type="text" ng-model="search" class="form-control" placeholder="Recherche">
        </div>
    </div>


    <div class="col-md-24" style="margin-top:10px;">
        <div ng-if="vm.messageOK" class="alert alert-success alert-dismissable fade in">
            <i class="icon icon-check-circle icon-lg"></i>
            <strong>Succès !</strong> {{vm.messageOK}}
            <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Amis</h3>
            </div>
            <div class="list-group" ng-if="vm.friends.length">
                <div class="list-group-item col-md-8" ng-repeat="friend in vm.friends | filter : search | orderBy: 'name'">
                    <div class="media">
                        <div class="media-left">
                            <a><img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{friend.photoURL}}"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase">{{friend.displayName}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="!vm.friends.length">Ta liste d'amis est vide, ajoute des nouveaux amis avec le bouton "Ajouter un ami"</p>

        </div>
    </div>
    <div class="col-md-24">
    <button type="button" ng-click="vm.openAjoutFriends()" class="btn btn-primary btn-lg btn-block">Ajouter un ami</button>
    </div>
</div>
</div>