<div ng-controller="groupMembresController as vm" >
    <div ng-if="vm.messageOK_M" class="alert alert-success alert-dismissable fade in">
        <i class="icon icon-check-circle icon-lg"></i>
        <strong>Succès !</strong> {{vm.messageOK_M}}
        <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
    </div>
    <ul class="list-group" ng-if="vm.membres.length">
        <li class="list-group-item" ng-repeat="membre in vm.membres | orderBy: 'name'">
            <div class="media">
                <div class="media-left">
                    <a><img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{membre.photoURL}}"></a>
                </div>
                <div class="media-body">
                    <h4>{{membre.displayName}}</h4>
                </div>
                <div class="media-right" ng-if="membre.isMyFriend" style="vertical-align: middle">
                    <span class="icon icon-user icon-2x" aria-hidden="true"></span>
                </div>
                <div class="media-right" ng-if="!membre.isMyFriend && membre.uid != vm.user.uid" style="vertical-align: middle">
                    <a href="" class="doigt-right" ng-click="vm.addAmis(membre)"><span class="icon icon-user-plus icon-2x"></span></a>
                </div>
            </div>
        </li>
    </ul>
    <p ng-if="!vm.membres.length"> Il n'y a aucun membre dans ce groupe !</p>
    <button type="button" ng-click="vm.openAddMembers()" class="btn btn-primary btn-lg btn-block">Ajouter des membres</button>
</div>