<link href="../../style/groups.css" rel="stylesheet">
<div ng-controller="groupsController as vm">
    <!-- GROUPES -->
    <div class="col-lg-6">
        <div ng-if="vm.messageOK" class="alert alert-success alert-dismissable fade in">
            <i class="icon icon-check-circle icon-lg"></i>
            <strong>Succès !</strong> {{vm.messageOK}}
            <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Groupes</h3>
            </div>
            <div class="list-group" ng-if="vm.groups.length">
                <div href="" class="list-group-item" ng-repeat="group in vm.groups">
                    <div class="media">
                        <div class="media-left">
                            <a><img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{group.photoURL}}"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase">{{group.nom}}</h4>
                        </div>
                        <div class="media-right">
                            <a href="" class="doigt-right" ng-click="vm.afficheGroupe(group)"><i class="icon icon-hand-o-right icon-4x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="!vm.groups.length">Aucun groupe !</p>
        </div>
        <button type="button" ng-click="vm.open()" class="btn btn-lg btn-primary btn-block">Créer un groupe</button>
    </div>
    <!-- MENUS GROUPES -->
    <div class="col-lg-18" ng-if="vm.affiche">
        <div class="media">
            <div class="media-body">
                <h1 class="text-uppercase">{{vm.nomG}}</h1>
            </div>
            <div class="media-right" style="vertical-align: middle;">
                <a href="" class="doigt-right" ng-click="vm.quitGroupe()"><i class="icon icon-sign-out icon-fw icon-2x"></i></a>
            </div>
        </div>
        <ul class="nav nav-pills nav-justified nav-warning">
            <li><a ui-sref=".events">Evenements</a></li>
            <li><a ui-sref=".membres">Membres</a></li>
            <li><a ui-sref=".votes">Votes</a></li>
            <li><a ui-sref=".euro">€</a></li>
            <li><a ui-sref=".chat">Chat</a></li>
            <li><a ui-sref=".photos">Photos</a></li>
        </ul>
        <div  ui-view>
            <div class="jumbotron">
                <div class="container">
                    <h2>{{vm.nomG}}</h2>
                    <p> {{vm.descG}} </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-18" ng-if="!vm.affiche">
        <div class="jumbotron">
            <h2>Groupin</h2>
            <p> Groupin est une application créé par des étudiants de l'Université de Lille 1. </p>
            <p> Auteur : Florian Malapel & Charlie Quetstroey </p>

            <h4>Bienvenue ! </h4>
            <p>Ce projet a pour but de facilité la vie des utilisateurs pour se faire on leur a donné la possibilité de créer des groupes et de gérer la totalité des évènements.</p>
        </div>
    </div>
</div>