<link href="../../style/groups.css" rel="stylesheet">
<div ng-controller="groupsController as vm">
    <!-- GROUPES -->
    <div class="col-lg-6">
        <div ng-if="vm.messageOK" class="alert alert-success alert-dismissable fade in">
            <i class="icon icon-check-circle icon-lg"></i>
            <strong>Succès !</strong> {{vm.messageOK}}
            <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
        </div>
        <div class="panel panel-gi-left">
            <div class="panel-heading" style="background-color: #eacf6a; border-color: #eacf6a;">
                <h3 class="panel-title">
                    <div class="pull-left"><strong class="text-uppercase">Groupes</strong></div>
                    <div class="pull-right">
                        <a class="btn btn-reload btn-xs btn-code" ng-click="vm.reloadGroups()">
                            <i class="icon icon-refresh icon-light"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </h3>
            </div>
            <div class="list-group list-panel-gi" ng-show="vm.hasGroup">
                <div class="list-group-item" ng-repeat="group in vm.groups">
                    <div class="media">
                        <div class="media-left">
                            <a><img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{group.photoURL}}"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase"><strong>{{group.nom}}</strong></h4>
                        </div>
                        <div class="media-right" style="vertical-align: middle;">
                            <a class="doigt-right" ng-click="vm.afficheGroupe(group)"><i class="icon icon-hand-o-right icon-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="!vm.hasGroup && !vm.hasNoGroup" style="text-align: center">
                <img class="logo-loading" src="../../style/gilogocenter.png"/>
            </p>
            <p ng-show="vm.hasNoGroup" style="text-align: center">
                Vous n'avez aucun groupe d'amis !
            </p>
        </div>
        <button type="button" ng-click="vm.open()" class="btn btn-lg btn-left">Créer un groupe</button>
    </div>
    <!-- MENUS GROUPES -->
    <div class="col-lg-18" ng-if="vm.affiche">
        <div class="panel-gi-right">
            <div class="media">
                <div class="media-body">
                    <div style="display: inline-flex;">
                        <h1 class="text-uppercase"><strong>{{vm.nomG}}</strong></h1>
                        <a class="doigt-right" ng-click="vm.modifGroupe(vm.group)">
                            <i class="icon icon-cog icon-2x" style="margin-left: 15px; margin-top: 36px;"></i>
                        </a>
                    </div>
                </div>
                <div class="media-right" style="vertical-align: middle;">
                    <a class="doigt-right" ng-click="vm.quitGroupe()"><i class="icon icon-sign-out icon-fw icon-2x"></i></a>
                </div>
            </div>
            <ul class="nav nav-pills nav-justified" style="background-color: #eacf6a;">
                <li><a ui-sref=".events"><strong class="text-uppercase">Evenements</strong></a></li>
                <li><a ui-sref=".membres"><strong class="text-uppercase">Membres</strong></a></li>
                <li><a ui-sref=".votes"><strong class="text-uppercase">Votes</strong></a></li>
                <li><a ui-sref=".euro"><strong class="text-uppercase">€uro</strong></a></li>
                <li><a ui-sref=".chat"><strong class="text-uppercase">Chat</strong></a></li>
                <li><a ui-sref=".photos"><strong class="text-uppercase">Photos</strong></a></li>
            </ul>
        </div>
        <div  ui-view class="panel-gi-right-content" style="margin-top: 10px;">
            <div class="jumbotron">
                <div class="container">
                    <h2>{{vm.nomG}}</h2>
                    <p> {{vm.descG}} </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-18" ng-if="!vm.affiche">
        <div class="jumbotron">
            <div class="container">
                <div style="text-align: center">
                    <img src="../../style/gilogocenter.png" style="width:15%">
                    <h2><strong class="text-uppercase">Groupin</strong></h2>
                </div>
                <hr>
                <div>
                    <h3><u>Objectifs</u></h3>
                    <p>Ce projet a pour but de facilité la vie des utilisateurs pour se faire on
                        leur a donné la possibilité de créer des groupes et de gérer la totalité des évènements.</p>
                </div>
                <hr>
                <div>
                    <h3><u>Auteurs</u></h3>
                    <p>Charlie Quetstroey</p>
                    <p>Florian Malapel</p>
                </div>
                <hr >
                <div>
                    <p>Disponible sur Android : </p>
                </div>
            </div>
        </div>
    </div>
</div>