<div ng-controller="groupChatController as vm">
    <div ng-if="vm.messageOK_M" class="alert alert-success alert-dismissable fade in">
        <i class="icon icon-check-circle icon-lg"></i>
        <strong>Succès !</strong> {{vm.messageOK_M}}
        <button type='button' ng-click="vm.dismiss()" class='close'>×</button>
    </div>
    <div ng-if="vm.messageKO_M" class="alert alert-danger alert-dismissable fade in">
        <i class="icon icon-times-circle icon-lg"></i>
        <strong>Erreur !</strong> {{vm.messageKO_M}}
        <button ng-click="vm.dismiss()" type='button' class='close'>×</button>
    </div>
    <ul class="list-group" ng-show="vm.hasMsg">
        <li class="list-group-item" ng-repeat="message in vm.messages ">
            <div class="media">
                <div class="media-left">
                    <a><img class="media-object img-circle" style="width: 32px; height: 32px;" ng-src="{{message.auteur.photoURL}}"></a>
                </div>
                <div class="media-body">
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.auteur.displayName}}</strong>
                            <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>{{message.date}}</small>
                        </div>
                        <p>
                            {{message.message}}
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <p ng-if="!vm.hasMsg && !vm.hasNoMsg" style="text-align: center">
        <img class="logo-loading" src="../../style/gilogocenter.png"/>
    </p>
    <p ng-show="vm.hasNoMsg" style="text-align: center">
        Il n'y a aucun message dans ce groupe !
    </p>

    <textarea  ng-model="vm.msg" class="form-control" placeholder="Tapes ton message " rows="2"></textarea>
    <button type="button" ng-click="vm.envoyerMsg()" class="btn btn-primary btn-lg btn-block">Envoyer un message</button>
</div>