<div ng-controller="groupEuroController as vm">
    <p ng-if="!vm.balances.length && !vm.depenses.length" style="text-align: center">
        <img class="logo-loading" src="../../style/gilogocenter.png"/>
    </p>

    <div ng-if="vm.depenses.length">
        <table class="table">
        <caption class="text-center">Dépenses</caption>
        <thead>
        <tr>
            <th>Quoi?</th>
            <th>Par Qui?</th>
            <th>Pour Qui?</th>
            <th>Combien?</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in vm.depenses">
            <td>
                {{d.what}}
            </td>
            <td >{{d.payer_id.displayName}}</td>
            <td ><p ng-repeat="o in d.owers">{{o.displayName}}</p></td>
            <td >{{d.amount}} €</td>
            <td>
                <a href="" class="doigt-right" ng-click="vm.removeBill(d)"><span class="icon icon-trash-o icon-2x" aria-hidden="true"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div ng-if="vm.balances.length">
    <table class="table">
        <caption class="text-center">Balance</caption>
        <thead>
        <tr>
            <th>Qui?</th>
            <th>Combien?</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.balances">
            <th style="width: 50%;">
                <div class="media">
                    <div class="media-left">
                        <a><img class="media-object img-circle" style="width: 64px; height: 64px;" ng-src="{{user.photoURL}}"></a>
                    </div>
                    <div class="media-body">
                        <h4 >{{user.displayName}}</h4>
                    </div>
                </div>
            </th>
            <th ng-if="user.balance == 0">{{user.balance}}€</th>
            <th class="text-danger" ng-if="user.balance < 0">{{user.balance}}€</th>
            <th class="text-success" ng-if="user.balance > 0">{{user.balance}}€</th>
        </tr>
        </tbody>
    </table>
    </div>

    <button type="button" ng-click="vm.openAddBill()" class="btn btn-lg btn-primary btn-block">Ajouter une dépense</button>

</div>